<?xml version="1.0"?>
<model>
  <name>agv_tno</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Andreu Corominas Murtra</name>
   <email>acorominas@iri.upc.edu</email>
  </author>

  <description>
    Autonomous Ground Vechicle developed by TNO within the CargoANTs EU project.
  </description>
</model>