<!-- Starts at simulated environment, controllers and drive node -->

<launch>

    <!-- Enable/disable visualization -->
    <arg name="plots" default="False" />
    <arg name="rviz" default="False" />
    
    <!-- test 01: gazebo world, at description, controllers, odometry and driver -->
    <include file="$(find at_tests_sim)/launch/at_sim_01_drive.launch"/>
    
    <!-- keyboard teleop and remap to at driver input-->
    <node   
        pkg="teleop_twist_keyboard" 
        type="teleop_twist_keyboard.py"
        name="teleop_twist_keyboard">
        <remap 
            from="/cmd_vel"
            to="/at_drive_sim/teleop"/>                
    </node>
    
    <!-- Run rviz node -->
    <group if="$(arg rviz)">
        <node   
            pkg="rviz" 
            type="rviz"
            name="rviz"         
            args="-d $(find at_tests_sim)/rviz/at_sim_01.rviz">
        </node>
    </group>
    
</launch>
