<launch>
  <!-- path to map file and frame names -->
  <arg name="map_file" default="$(find g_path_planner)/maps/turtleMap2.yaml"/>
  <arg name="base_frame_id"   default="base_link"/>
  <arg name="global_frame_id" default="map"/>  
    
  <!-- Map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  
  
  <!-- Publish TF -->  
  <node pkg="tf" type="static_transform_publisher" name="map2baselink" args="0 0 0 0 0 0 /map base_link 100"/> 
 

  <!-- Move base (but we will use only Global Planner) -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
	<param name="base_global_planner" value="RAstar_planner/RAstarPlannerROS"/>  <!-- to use our plugin instead, i.e. our path planner-->    
    <rosparam file="$(find g_path_planner)/launch/costmap_common_params.yaml" command="load" ns="global_costmap" />   
    <rosparam file="$(find g_path_planner)/launch/global_costmap_params.yaml" command="load" />    
    <param name="global_costmap/global_frame" value="$(arg global_frame_id)"/>
    <param name="global_costmap/robot_base_frame" value="$(arg base_frame_id)"/>
  </node>
   

  <!-- Launch Rviz -->
  <include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch"></include>

</launch>
